<!--
<form action="/users" method="post" accept-charset="UTF-8">
  Username: <input type="string" name="user[username]"><br>
  Email: <input type="string" name="user[email]"><br>
  Password: <input type="string" name="user[password]"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
-->

<!--
<%= form_tag "/users" do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password) %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit Form") %>
<% end %>

-->

<%= form_for :user do |f| %>
  <%= f.label :username, "Put your username:" %>
  <%= f.text_field :username, placeholder: "Example User" %>
  <%= f.label :email, "Put your email:" %>
  <%= f.text_field :email, placeholder: "example@example.com" %>
  <%= f.label :password, "Put your password:" %>
  <%= f.password_field :password, placeholder: "Enter password" %>
  <%= f.submit "Submit" %>
<% end %>